In [1]:
import numpy as np
import pandas as pd

In [8]:
df = pd.read_csv("V1.csv")

In [3]:
df.head(2)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,IncomeGroup
0,62,Self-emp-not-inc,26911,7th-8th,4,Widowed,Other-service,Not-in-family,White,Female,0,0,66,United-States,<=50K
1,18,Private,208103,11th,7,Never-married,Other-service,Other-relative,White,Male,0,0,25,United-States,<=50K

In [4]:
df.shape

(20000, 15)

In [9]:
df.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
IncomeGroup       0
dtype: int64

In [12]:
(df == "?").sum()

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
IncomeGroup       0
dtype: int64

In [13]:
df.replace("?", np.nan, inplace = True)

In [14]:
df.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
IncomeGroup       0
dtype: int64

In [15]:
df.head(2)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,IncomeGroup
0,62,Self-emp-not-inc,26911,7th-8th,4,Widowed,Other-service,Not-in-family,White,Female,0,0,66,United-States,<=50K
1,18,Private,208103,11th,7,Never-married,Other-service,Other-relative,White,Male,0,0,25,United-States,<=50K

In [16]:
df.IncomeGroup.unique()

array([' <=50K', ' >50K'], dtype=object)

In [20]:
q6_income = df[df.IncomeGroup == ' <=50K'].shape[0]
q6_total = df.shape[0]

In [22]:
(q6_income/q6_total)*100

76.51

In [24]:
df.age.mean()

38.553

In [30]:
df.education.unique()

array([' 7th-8th', ' 11th', ' Bachelors', ' HS-grad', ' Some-college',
       ' Masters', ' Assoc-voc', ' Doctorate', ' 5th-6th', ' 10th',
       ' 12th', ' Assoc-acdm', ' Prof-school', ' 9th', ' 1st-4th',
       ' Preschool'], dtype=object)

In [36]:
df[df.education == ' Preschool'].shape

(32, 15)

In [38]:
df.corr(numeric_only=True)

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
age,1.000000,-0.071322,0.042720,0.082959,0.054860,0.068613
fnlwgt,-0.071322,1.000000,-0.050441,-0.009390,-0.012992,-0.018445
education-num,0.042720,-0.050441,1.000000,0.124567,0.080085,0.140452
capital-gain,0.082959,-0.009390,0.124567,1.000000,-0.031598,0.084474
capital-loss,0.054860,-0.012992,0.080085,-0.031598,1.000000,0.049945
hours-per-week,0.068613,-0.018445,0.140452,0.084474,0.049945,1.000000

In [39]:
df.occupation.mode()

0     Prof-specialty
Name: occupation, dtype: object

In [40]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'IncomeGroup'],
      dtype='object')

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             20000 non-null  int64
 1   workclass       20000 non-null  object
 2   fnlwgt          20000 non-null  int64
 3   education       20000 non-null  object
 4   education-num   20000 non-null  int64
 5   marital-status  20000 non-null  object
 6   occupation      20000 non-null  object
 7   relationship    20000 non-null  object
 8   race            20000 non-null  object
 9   sex             20000 non-null  object
 10  capital-gain    20000 non-null  int64
 11  capital-loss    20000 non-null  int64
 12  hours-per-week  20000 non-null  int64
 13  native-country  20000 non-null  object
 14  IncomeGroup     20000 non-null  object
dtypes: int64(6), object(9)
memory usage: 2.3+ MB

In [58]:
X1 = df.select_dtypes(include=['int64'])

In [59]:
X2 = df.select_dtypes(include=['object'])

In [60]:
y = df.IncomeGroup

In [62]:
X1.shape[1], X2.shape[1]

(6, 9)

In [65]:
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [66]:
X1_trans = StandardScaler().fit_transform(X1)

In [67]:
X2_trans = OneHotEncoder(sparse=False).fit_transform(X2)

/Users/PushpakRuhil/opt/anaconda3/lib/python3.9/site-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [73]:
type(X1_trans)

numpy.ndarray

In [74]:
type(X2_trans)

numpy.ndarray

In [76]:
temp1 = pd.DataFrame({"ok": [1,2], "ok2": [5,10]})
temp2 = pd.DataFrame({"ok": [10,20], "ok2": [50,100]})

In [82]:
pd.concat([temp1, temp2], axis=1)

   ok  ok2  ok  ok2
0   1    5  10   50
1   2   10  20  100

In [83]:
X = pd.concat([X1_trans, X2_trans], axis=1)

TypeError: cannot concatenate object of type '<class 'numpy.ndarray'>'; only Series and DataFrame objs are valid

In [86]:
X = np.concatenate([X1_trans, X2_trans], axis=1)

In [89]:
X = pd.DataFrame(X)

In [91]:
from sklearn.model_selection import train_test_split

In [92]:
X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    test_size=0.20, 
                                                    random_state=64,
                                                   )

In [93]:
y_train.shape

(16000,)

In [94]:
from sklearn.linear_model import Perceptron

In [95]:
perc = Perceptron(fit_intercept=True, warm_start=False)

In [96]:
perc.fit(X_train, y_train)

Perceptron()

In [98]:
perc.score(X_test, y_test)

1.0

In [99]:
perc2 = Perceptron(early_stopping=True, fit_intercept=True,
                  warm_start=False)

In [101]:
perc2.fit(X_train, y_train)

Perceptron(early_stopping=True)

In [102]:
perc2.intercept_

array([0.])